body {
	background: #FAFAFA;
}

.tab{
	 background-color:#000;
	 color:#FFF;
	 font-size:12px;
	 font-weight:bold;
	 padding:4px;
 }

.cabecalho {
	display: block;
	background: #cecece;
	width: 80%;
	height: 100px;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
}

.divcentralizar{
	display: block;
	padding: 10px;
	height: 140px;
	width: 30%;
	margin: 0 auto;
	text-align: center;
	background: #eee;
}

.margininferior {
	margin-bottom: 15px;
}

.alinharesquerda {
	float: left;
	margin-right: 5px;
}

.alinhardireita {
	float: right;
	margin-left: 5px;
}

.margemdireita {
	margin-right: 15px;
}

.margemsuperior {
	margin-top: 15px;
}

.centro {
	padding-top: 15px;
	text-align: center;
	float: right;
}

.tabelasemborda {
	border: none !important;
}

.tabelasembordadireita {
	border-right: none !important;
}

.corusuario {
	background: #000;	
}
